/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.dashboard {
    padding: 20px;
}

.graph-section, .stats-section, .events-section {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.stats-section {
    display: none; /* Hide the stats section */
}

.events-section h2 {
    text-align: center;
    font-size: 1.5em;
    color: #ff7e5f;
    margin-bottom: 20px;
}

.events-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.event-card {
    background: #3a3a3a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    width: 200px;
    animation: fadeInUp 1s ease-in-out;
}

.event-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.event-card p {
    margin: 10px 0;
    font-weight: bold;
    color: #ffffff;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Table Styles */
.table-container {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #444;
    text-align: left;
}

.table th {
    background-color: #333;
    color: #fff;
}

.table td {
    background-color: #2c2c2c;
    color: #fff;
}

.table .btn-edit, .table .btn-delete {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.table .btn-delete {
    background-color: #ff0000;
}

.table .btn-edit:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.table .btn-delete:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}